<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>52f8ca1d1d41c851663fcba7</string>
		<key>name</key>
		<string>华语</string>
	</dict>
	<dict>
		<key>key</key>
		<string>52f8ca1d1d41c851663fcba8</string>
		<key>name</key>
		<string>欧美</string>
	</dict>
	<dict>
		<key>key</key>
		<string>52f8ca1d1d41c851663fcbac</string>
		<key>name</key>
		<string>粤语</string>
	</dict>
	<dict>
		<key>key</key>
		<string>52f8ca1d1d41c851663fcbad</string>
		<key>name</key>
		<string>摇滚</string>
	</dict>
	<dict>
		<key>key</key>
		<string>52f8ca1d1d41c851663fcbaf</string>
		<key>name</key>
		<string>轻音乐</string>
	</dict>
	<dict>
		<key>key</key>
		<string>52f8ca1d1d41c851663fcbb1</string>
		<key>name</key>
		<string>爵士</string>
	</dict>
	<dict>
		<key>key</key>
		<string>52f8ca1d1d41c851663fcbb2</string>
		<key>name</key>
		<string>电子</string>
	</dict>
	<dict>
		<key>key</key>
		<string>52f8ca1d1d41c851663fcbb3</string>
		<key>name</key>
		<string>说唱</string>
	</dict>
	<dict>
		<key>key</key>
		<string>52f8ca1d1d41c851663fcbb9</string>
		<key>name</key>
		<string>古典</string>
	</dict>
	<dict>
		<key>key</key>
		<string>52f8ca1d1d41c851663fcbba</string>
		<key>name</key>
		<string>动漫</string>
	</dict>
	<dict>
		<key>key</key>
		<string>52f8ca1d1d41c851663fcbc0</string>
		<key>name</key>
		<string>小清新</string>
	</dict>
</array>
</plist>
